.lang-switcher-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.5rem;
}

.lang-switcher-btn-container > button {
  padding: 0.4rem;
  border: 1px solid #3b3b3b;
  border-radius: 5px;
  background-color: var(--background-color);
  color: var(--primary-text-color);
}
