.dashboard {
  text-align: center;
}

.filter-controls {
  margin: 20px 0;
}

.filter-controls input,
.filter-controls select,
.filter-controls button {
  margin: 0 10px;
  padding: 5px 10px;
}

.admin-dashboard-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid #3b3b3b;
}

.admin-dashboard-content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 95%;
  border: 1px solid #3b3b3b;
  border-radius: 10px;
  background-color: var(--forground-color);
}

.admin-dashboard-inner-content-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
}

.admin-dashboard-inner-content-container > h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 4rem;
  padding: 2rem;
  font-size: 1.5rem;
  color: var(--primary-text-color);
  border-bottom: 1px solid #3b3b3b;
}

.admin-dashboard-filter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3rem;
  gap: 1rem;
  padding: 0.5rem;
}

.admin-dashboard-filter-container > input {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  width: 15%;
  height: 2rem;
  background-color: var(--background-color);
  border: 1px solid #3b3b3b;
  border-radius: 5px;
  color: var(--primary-text-color);
}

.admin-dashboard-filter-container > button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3rem 0.5rem;
  border: 1px solid #3b3b3b;
  font-size: 0.8rem;
  color: var(--primary-text-color);
  background-color: var(--toggle-fg);
}

.admin-dashboard-select-view-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 3rem;
  padding-right: 1.5rem;
}

.admin-dashboard-select-view-container > select {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem;
  border: 1px solid #3b3b3b;
  border-radius: 5px;
  color: var(--primary-text-color);
  background-color: var(--background-color);
}

.admin-dashboard-chart-content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.admin-dashboard-chart-content-container canvas {
  width: 100%;
  height: 100%;
}

.dataChart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 25rem;
}

@media only screen and (max-width: 430px) {
  .admin-dashboard-inner-content-container > h1 {
    font-size: 1rem;
  }
}
